<h3 id="container-header">Completed Tasks</h3>

<div id="completed-task-container" >
    <button id="clear-completed-tasks" click.call="clearAllTasks"><img src="./../../svg-icons/trash-delete-bin-svgrepo-com.svg" alt="icon" width="24" height="24"></button>
    <span>Well Hello There</span>
</div>

<template id="task-factory">
    <div class="task-container">
        <span class="task-name"></span>
        <span class="task-duration"></span>
        <slot name="task-actions"></slot>
    </div>
</template>