:host {
    flex-grow: 1;
    overflow: hidden;
}

:host h3 {
    width: fit-content;
    cursor: pointer;
    position: sticky;
    top: 20px;
    margin-bottom: 3rem;
}

:host h3::before {
    display: inline-block;
    content: ">";
    font-size: 1.5rem;
    font-family: cursive;
    border: none;
    padding: 0.25rem;
    margin-right: 0.5rem;
    rotate: 88deg;
    transition-duration: 0.3s;
}

:host h3.collapsed::before {
    rotate: 0deg;
    color: #76C422;
}

#clear-completed-tasks {
    border: none;
    background: transparent;
    cursor: pointer;
    position: sticky;
    top: 0;
    display: flex;
    float: right;
    border-radius: 15px;
}

#clear-completed-tasks:hover {
    box-shadow: 1px 1px 5px rgba(239, 7, 7, 0.78);
}

#clear-completed-tasks img {
    pointer-events: none;
}

:host #completed-task-container {
    display: block;
    width: 90%;
    max-height: 300px;
    justify-self: center;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgba(118, 196, 34, 0.19);
    border-radius: 5px;
    background: #2F3545;
    color: white;
    overflow-y: hidden;
    transition: 0.4s ease;
    scrollbar-gutter: stable;
}


:host #completed-task-container:hover {
    box-shadow: 0 5px 5px #76C422;
    overflow-y: auto;
}


:host #completed-task-container::-webkit-scrollbar {
    width: 8px;
}

:host #completed-task-container::-webkit-scrollbar-thumb {
    background-color: #76C422;
    border-radius: 4px;
}


:host([data-collapsed="true"]) #completed-task-container {
    max-height: 0;
    padding: 0;
    margin-top: 0;
    border: 1px solid #76C422;
    transition: 0.4s ease;
}

:host #completed-task-container span {

}

:host .task-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid #76C422;
    padding: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}

:host .task-container:hover {
    box-shadow: 0 5px 5px #76C422;
}